/*Generales*/
/*Fuente Mulish*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
/*Fuente Open Sans*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
.flex-center, .noticias .productos-paginas ul, .menu-productos .container .cards-productos, .menu-productos .container .productos-paginas ul, .testimonios .testimonios-imagen, .contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos {
  display: flex;
  justify-content: center;
}

.foto-trabajadores, .seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-foto1, .seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-foto2, .seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-foto3 {
  background-position: center;
  background-size: cover;
  height: 400px;
  padding-bottom: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-size: 64px;
  font-weight: 900;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 900;
}

h4 {
  color: #F28123;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7cap;
  margin-bottom: 20px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #051922;
  font-size: 15px;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.naranja {
  color: #F28123;
}

.active {
  color: #F28123;
}

.boton-dark {
  background-color: #F28123;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}

.boton-dark:hover {
  background-color: black;
  color: #F28123;
  transform: scale(1.1);
}

.boton-light {
  color: white;
  border-style: solid;
  border-color: #F28123;
  padding: 7px 20px;
  margin-left: 20px;
  border-radius: 50px;
}

.boton-light:hover {
  color: white;
  border-style: solid;
  background-color: #F28123;
  padding: 7px 20px;
  margin-left: 20px;
  border-radius: 50px;
  transform: scale(1.1);
}

.fondogris {
  background-color: #F5F5F5;
}

/*HOME barra de navegacion-------------------------*/
header {
  background-color: #545454;
  display: flex;
  justify-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}
header .seccion-navbar {
  padding: 25px 0px;
  /*position: absolute;*/
  align-content: center;
  background-color: #545454;
}
header .seccion-navbar div ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
header .seccion-navbar div ul li {
  padding: 15px;
}
header .seccion-navbar div ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
header .seccion-navbar div ul li .activo {
  color: #F28123;
}
header .seccion-navbar div ul li a:hover {
  color: #F28123;
  transform: scale(1.15);
}

/*HOME encabezado o baner----------------------------------*/
.contenedor-seccion-encabezado {
  background-color: #3a5663;
  min-height: 100vh;
  align-content: center;
  animation-name: animacion;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.contenedor-seccion-encabezado .seccion-encabezado {
  display: block;
  text-align: center;
}
.contenedor-seccion-encabezado .seccion-encabezado .seccion-encabezado-contenido h1 {
  color: white;
  margin-bottom: 20px;
}
.contenedor-seccion-encabezado .seccion-encabezado .seccion-encabezado-contenido .botones-encabezado {
  justify-items: center;
  margin-top: 35px;
}
.contenedor-seccion-encabezado .seccion-encabezado .seccion-encabezado-contenido .botones-encabezado a {
  border-radius: 50px;
  text-align: center;
}

@keyframes animacion {
  0% {
    background-color: #3a5663;
  }
  25% {
    background-color: #1b333e;
  }
  50% {
    background-color: #0d222d;
  }
  75% {
    background-color: #1b333e;
  }
  100% {
    background-color: #3a5663;
  }
}
/* FIN HOME encabezado o baner*/
/*encabezado o baner de las secciones a excepcion del home*/
.contenedor-seccion-titulo {
  background-color: #3a5663;
  animation-name: animacion;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 100%;
  min-height: 60vh;
  align-content: center;
}
.contenedor-seccion-titulo .seccion-titulo {
  display: block;
  justify-items: center;
}
.contenedor-seccion-titulo .seccion-titulo h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: white;
}

/*FIN encabezado o baner de las secciones a excepcion del home*/
/*Seccion Footer-------------------------------------------*/
.contenedor-seccion-footer {
  background-color: #051922;
  width: 100%;
  justify-items: center;
}
.contenedor-seccion-footer .seccion-footer {
  display: block;
  /*column-gap: 40px;*/
}
.contenedor-seccion-footer .seccion-footer .seccion-info {
  display: flex;
  padding: 150px 0px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div {
  padding: 0px 0px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div h3 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 18px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div p {
  color: rgb(181, 181, 181);
  margin-bottom: 18px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div .lista-paginas ul li {
  margin-bottom: 10px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div .lista-paginas ul li i {
  color: white;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div .lista-paginas ul li a {
  font-size: 15px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div .lista-paginas ul li a:hover {
  color: #F28123;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div ul {
  padding-left: 0px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div li {
  list-style: none;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div li i {
  color: rgb(99, 99, 99);
}
.contenedor-seccion-footer .seccion-footer .seccion-info div li a {
  color: #b5b5b5;
  font-size: 15px;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div li a:hover {
  color: #F28123;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div input {
  color: #b5b5b5;
  background-color: rgb(1, 39, 56);
  padding: 20px;
  margin-right: 3px;
  width: 78%;
  border-radius: 5px;
  font-size: 15px;
  border: none;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div button {
  background-color: rgb(1, 39, 56);
  padding: 20px;
  width: 20%;
  border-radius: 5px;
  font-size: 15px;
  border: none;
}
.contenedor-seccion-footer .seccion-footer .seccion-info div button i {
  color: #F28123;
}
.contenedor-seccion-footer .seccion-footer .seccion-legal {
  display: flex;
  justify-items: center;
}
.contenedor-seccion-footer .seccion-footer .seccion-legal div {
  display: flex;
}
.contenedor-seccion-footer .seccion-footer .seccion-legal div p {
  margin: 0px 0px 18px 0px;
  padding: 16px 0px;
  color: #b5b5b5;
}
.contenedor-seccion-footer .seccion-footer .seccion-legal .footer-iconos {
  justify-content: end;
  padding: 0px 15px;
}
.contenedor-seccion-footer .seccion-footer .seccion-legal .footer-iconos .lista-footer-iconos {
  display: flex;
}
.contenedor-seccion-footer .seccion-footer .seccion-legal .footer-iconos .lista-footer-iconos li {
  list-style: none;
  padding: 16px 10px;
  color: #b5b5b5;
}
.contenedor-seccion-footer .seccion-footer .seccion-legal .footer-iconos .lista-footer-iconos li a {
  color: rgb(181, 181, 181);
}
.contenedor-seccion-footer .seccion-footer .seccion-legal .footer-iconos .lista-footer-iconos li a i:hover {
  color: #F28123;
}

footer strong {
  color: #F28123;
}

/*FIN Footer-----------------------------------------*/
/*HOME seccion info envios---------------------------------*/
.contenedor-seccion-info-envios {
  height: 225px;
  background-color: #F5F5F5;
  align-content: center;
  justify-items: center;
}
.contenedor-seccion-info-envios .seccion-info-envios {
  display: flex;
  padding: 80px 0px;
  justify-content: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.contenedor-seccion-info-envios .seccion-info-envios .contenedor-tarjetas-info-envios {
  row-gap: 20px;
}
.contenedor-seccion-info-envios .seccion-info-envios .contenedor-tarjetas-info-envios .tarjetas-info-envios {
  display: flex;
  height: 65px;
  width: 384px;
  letter-spacing: 0.5px;
  margin: 0px;
  padding: 0px 15px;
  align-items: center; /*centra el texto verticalmente*/
}
.contenedor-seccion-info-envios .seccion-info-envios .contenedor-tarjetas-info-envios .tarjetas-info-envios .iconos-envios {
  display: flex;
  align-items: center;
  padding: 17px 17px;
  margin: 0px 15px 0px 0px;
  color: #F28123;
  border-style: dotted;
  border-radius: 50%;
  font-size: 22px;
}
.contenedor-seccion-info-envios .seccion-info-envios .contenedor-tarjetas-info-envios .tarjetas-info-envios .iconos-envios-texto {
  display: block;
}
.contenedor-seccion-info-envios .seccion-info-envios .contenedor-tarjetas-info-envios .tarjetas-info-envios .iconos-envios-texto h3 {
  font-size: 18px;
  margin-bottom: 4px;
}
.contenedor-seccion-info-envios .seccion-info-envios .contenedor-tarjetas-info-envios .tarjetas-info-envios .iconos-envios-texto p {
  font-size: 14px;
}

/*FIN HOME seccion info envios*/
/*HOME seccion nuestros productos--------------------------*/
.contenedor-seccion-nuestros-productos {
  width: 100%;
  justify-items: center;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos {
  margin: 150px 0px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .nuestros-productos-encabezado {
  height: 198px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .nuestros-productos-encabezado h2 {
  text-align: center;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 17.5px 0px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .nuestros-productos-encabezado p {
  text-align: center;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items {
  padding: 30px;
  box-shadow: 0 0 20px #e4e4e4;
  width: -moz-fit-content;
  width: fit-content;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items img {
  max-width: 261px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-transform: none;
  letter-spacing: normal;
  color: #212529;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items p {
  margin-bottom: 10px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items a {
  font-size: 14px;
  border-radius: 50px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items .boton-dark {
  display: inline-block;
  margin-bottom: 30px;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items .boton-dark:hover {
  transform: none;
}
.contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos .cards-productos-items:hover {
  box-shadow: 0 0 20px #cccccc;
  transform: scale(1.05);
}

/*FIN HOME seccion nuestros productos*/
/*HOME seccion oferta del mes------------------------------*/
.contenedor-seccion-oferta-del-mes {
  width: 100%;
  align-content: center;
  background-color: #F5F5F5;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes {
  justify-content: center;
  padding: 100px 0px;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-imagen {
  background-image: url(../img/Oferta.webp);
  background-size: cover;
  background-position: top;
  margin-top: 40px;
  max-width: 50%;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion {
  padding: 40px 20px 0px 20px;
  max-width: 50%;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion h2 {
  margin-bottom: 18px;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion h5 {
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 18px;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion p {
  margin: 25px 0px;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion .cuenta-regresiva {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion .cuenta-regresiva div {
  border-style: solid;
  border-color: #F28123;
  padding: 8px 20px;
  text-align: center;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion .cuenta-regresiva div h2 {
  margin: 0px;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion .cuenta-regresiva div p {
  margin: 0px;
}
.contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion a.boton-dark {
  display: inline-block;
  margin-top: 30px;
}

/*FIN HOME seccion oferta del mes*/
/*ACERCA DE porque Fruitkha?---------------------------------------------*/
.seccion-Fruitkha {
  margin: 150px 0px;
}
.seccion-Fruitkha .seccion-Fruitkha-info div h2 {
  padding-bottom: 14px;
  margin-bottom: 18px;
}
.seccion-Fruitkha .seccion-Fruitkha-info div .seccion-Fruitkha-tarjetas {
  display: flex;
  margin-bottom: 42px;
}
.seccion-Fruitkha .seccion-Fruitkha-info div .seccion-Fruitkha-tarjetas .seccion-Fruitkha-tarjetas-icono {
  display: block;
  padding: 17px 17px;
  margin: 0px 15px 0px 0px;
  color: #F28123;
  border-style: dotted;
  border-radius: 50%;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  width: 65px;
  height: 65px;
}
.seccion-Fruitkha .seccion-Fruitkha-info div .seccion-Fruitkha-tarjetas .seccion-Fruitkha-tarjetas-icono i {
  vertical-align: middle;
}
.seccion-Fruitkha .seccion-Fruitkha-info div .seccion-Fruitkha-tarjetas .seccion-Fruitkha-tarjetas-texto {
  display: block;
}

/*FIN ACERCA DE porque Fruitkha?--------------*/
/*ACERCA DE banner descuentos-------------------------------------*/
.fondo-banner-descuentos {
  background-image: url(..//img/fondo_fresas.webp);
  background-size: cover;
}
.fondo-banner-descuentos .fondo-banner-descuentos-contenedor {
  padding: 110px 0px;
  row-gap: 20px;
}
.fondo-banner-descuentos .fondo-banner-descuentos-contenedor h2 {
  padding-bottom: 20px;
}
.fondo-banner-descuentos .fondo-banner-descuentos-contenedor .fondo-banner-descuentos-texto {
  display: flex;
  align-items: end;
  padding-bottom: 25px;
}
.fondo-banner-descuentos .fondo-banner-descuentos-contenedor .fondo-banner-descuentos-texto h2 {
  padding-bottom: 0px;
}
.fondo-banner-descuentos .fondo-banner-descuentos-contenedor .fondo-banner-descuentos-texto h3 {
  font-weight: 500;
  padding-right: 10px;
  text-align: center;
}

/*FIN ACERCA DE banner descuentos--------------*/
/*ACERCA DE nuestro equipo -------------------------------------*/
.seccion-nuestro-equipo {
  margin: 150px 0px;
}
.seccion-nuestro-equipo .seccion-nuestro-equipo-titulo {
  margin-bottom: 80px;
}
.seccion-nuestro-equipo .seccion-nuestro-equipo-titulo div h2 {
  margin-bottom: 18px;
  padding-bottom: 15px;
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido {
  position: relative;
  z-index: 1;
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-foto1 {
  background-image: url(..//img/Jimmy-1.webp);
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-foto2 {
  background-image: url(..//img/Casate.webp);
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-foto3 {
  background-image: url(..//img/Simon.webp);
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-redes {
  position: absolute;
  width: 92.5%;
  top: 330px;
  justify-items: center;
  z-index: 1;
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-redes ul {
  display: flex;
  list-style: none;
  justify-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 20px 0px 0px 0px;
  top: 330px;
  left: 95px;
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-redes ul li a {
  color: white;
  background-color: #F28123;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 30px;
  padding: 5px;
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido .trabajadores-redes ul li a:hover {
  color: #F28123;
  background-color: black;
  transform: scale(1.1);
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido h3 {
  margin-top: 15px;
}
.seccion-nuestro-equipo .tarjetas-trabajadores .tarjetas-trabajadores-contenido h5 {
  font-size: 14px;
}

/*FIN ACERCA DE nuestro equipo*/
/*ACERCA DE testimonios -------------------------------------*/
.testimonios {
  margin: 80px 0px 150px 0px;
}
.testimonios .testimonios-imagen {
  margin-bottom: 20px;
}
.testimonios .testimonios-imagen img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-items: center;
}
.testimonios .testimonios-texto {
  text-align: center;
}
.testimonios .testimonios-texto h5 {
  font-size: 14px;
  font-weight: 700;
  color: #999999;
  margin: 10px 0px 18px 0px;
}
.testimonios .testimonios-texto p {
  font-size: 17px;
  font-style: italic;
  color: #999999;
  margin-top: 20px;
}

/*FIN ACERCA DE testimonios*/
/*SHOP----------------------------------------------------------*/
.menu-productos {
  margin: 150px 0px;
}
.menu-productos .container .row .menu-productos-categorias {
  justify-items: center;
  margin-bottom: 60px;
}
.menu-productos .container .row .menu-productos-categorias ul {
  display: flex;
  list-style: none;
  text-align: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.menu-productos .container .row .menu-productos-categorias ul li {
  font-weight: 700;
  color: #323232;
  padding: 8px 20px;
  border: 2px solid #051922;
  border-radius: 25px;
}
.menu-productos .container .row .menu-productos-categorias ul li a {
  font-size: 18px;
  color: #323232;
}
.menu-productos .container .cards-productos {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.menu-productos .container .cards-productos .cards-productos-items {
  padding: 30px;
  box-shadow: 0 0 20px #e4e4e4;
  width: -moz-fit-content;
  width: fit-content;
}
.menu-productos .container .cards-productos .cards-productos-items img {
  max-width: 261px;
}
.menu-productos .container .cards-productos .cards-productos-items h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-transform: none;
  letter-spacing: normal;
  color: #212529;
}
.menu-productos .container .cards-productos .cards-productos-items p {
  margin-bottom: 10px;
}
.menu-productos .container .cards-productos .cards-productos-items h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.menu-productos .container .cards-productos .cards-productos-items a {
  font-size: 14px;
  border-radius: 50px;
}
.menu-productos .container .cards-productos .cards-productos-items .boton-dark {
  display: inline-block;
  margin-bottom: 30px;
}
.menu-productos .container .cards-productos .cards-productos-items .boton-dark:hover {
  transform: none;
}
.menu-productos .container .cards-productos .cards-productos-items:hover {
  box-shadow: 0 0 20px #cccccc;
  transform: scale(1.05);
}
.menu-productos .container .productos-paginas {
  margin: 60px 0px 0px 0px;
}
.menu-productos .container .productos-paginas ul {
  list-style: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0px;
  padding: 0px;
}
.menu-productos .container .productos-paginas ul li {
  font-weight: 700;
  background-color: #f3f3f3;
  color: #323232;
  padding: 8px 20px;
  border-radius: 25px;
}
.menu-productos .container .productos-paginas ul li a {
  font-size: 18px;
  color: #6f6f6f;
}
.menu-productos .container .productos-paginas ul li:hover {
  background-color: #F28123;
}
.menu-productos div {
  padding-bottom: 20px;
}

/*FIN Shop*/
/*NOTICIAS-------------------------------------------------------*/
.noticias {
  margin: 150px 0px;
}
.noticias .noticias-tarjetas-contenedor {
  row-gap: 30px;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas {
  box-shadow: 0 0 20px #e4e4e4;
  padding: 0px;
  margin: 0px 15px;
  max-width: 410px;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .noticias-imagen {
  height: 200px;
  background-size: cover;
  background-position: center;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .foto-1 {
  background-image: url(..//img/noticias1.webp);
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .foto-2 {
  background-image: url(..//img/noticias_2.webp);
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .foto-3 {
  background-image: url(..//img/noticias_3.webp);
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .foto-4 {
  background-image: url(..//img/noticias_4.webp);
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .foto-5 {
  background-image: url(..//img/noticias_5.webp);
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .foto-6 {
  background-image: url(..//img/noticias_6.webp);
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .noticias-texto {
  padding: 25px;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .noticias-texto h3 {
  margin-bottom: 18px;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .noticias-texto .noticias-fecha {
  display: flex;
  color: #1e3945;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .noticias-texto .noticias-fecha p {
  font-size: 12px;
  color: #1e3945;
  margin-left: 5px;
  margin-right: 15px;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .noticias-texto a {
  color: #051922;
  font-size: 14px;
  font-weight: 700;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas .noticias-texto a:hover {
  color: #F28123;
}
.noticias .noticias-tarjetas-contenedor .noticias-tarjetas:hover {
  box-shadow: 0 0 20px #cccccc;
  transform: scale(1.05);
}
.noticias .productos-paginas {
  margin: 60px 0px 0px 0px;
}
.noticias .productos-paginas ul {
  list-style: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0px;
  padding: 0px;
}
.noticias .productos-paginas ul li {
  font-weight: 700;
  background-color: #f3f3f3;
  color: #323232;
  padding: 8px 20px;
  border-radius: 25px;
}
.noticias .productos-paginas ul li a {
  font-size: 18px;
  color: #6f6f6f;
}
.noticias .productos-paginas ul li:hover {
  background-color: #F28123;
}

/*FIN Shop*/
/*CONTACTANOS-------------------------------------------------------*/
.contenedor-seccion-contactanos {
  margin: 150px 0px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor h3 {
  font-size: 25px;
  margin-bottom: 18px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor p {
  margin-bottom: 25px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor form div {
  margin-bottom: 18px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor form div input {
  width: 49.5%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor form div {
  margin-bottom: 18px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor form div textarea {
  width: 99.5%;
  height: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor form div {
  margin-bottom: 18px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-formulario-contenedor form div button {
  border: none;
  padding: 15px 25px;
  text-transform: uppercase;
  color: #051922;
  font-weight: 700;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-info {
  justify-items: center;
  padding: 45px 30px;
  background-color: #F5F5F5;
  animation-name: bordes;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-info .contactanos-info-contenedor {
  display: flex;
  margin-bottom: 30px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-info .contactanos-info-contenedor .contacto-info-icono {
  color: #F28123;
  margin-right: 15px;
  font-size: 20px;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-info .contactanos-info-contenedor .contacto-info-texto {
  display: block;
}
.contenedor-seccion-contactanos .contactanos-formulario .contactanos-info .contactanos-info-contenedor .contacto-info-texto h3 {
  font-size: 20px;
}

@keyframes bordes {
  0% {
    border: 5px, solid, #c8c4c4;
  }
  25% {
    border: 5px, solid, #9c9999;
  }
  50% {
    border: 5px, solid, #5f5e5e;
  }
  75% {
    border: 5px, solid, #9c9999;
  }
  100% {
    border: 5px, solid, #c8c4c4;
  }
}
/*FIN Contactanos*/
@media (max-width: 480px) {
  p {
    font-size: 14px;
  }
  h5 {
    font-size: 18px;
  }
  /*Barra de navegacion*/
  header .seccion-navbar {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  header .seccion-navbar .menu-hamburguesa {
    display: block;
  }
  header .seccion-navbar .menu-navegacion {
    display: none;
  }
  .menu-iconos {
    display: none;
  }
  /*Home banner*/
  .botones-encabezado {
    justify-items: center;
    margin-top: 35px;
  }
  .botones-encabezado .boton-dark {
    width: 95%;
  }
  .botones-encabezado .boton-light {
    width: 95%;
    margin: 15px 0px 0px 0px;
  }
  .seccion-encabezado-contenido h4 {
    font-size: 13px;
  }
  .seccion-encabezado-contenido h1 {
    font-size: 28px;
  }
  .seccion-encabezado-contenido a {
    display: block;
    font-size: 14px;
    text-align: center;
  }
  /*HOME seccion info envios*/
  .contenedor-seccion-info-envios .seccion-info-envios {
    padding: 80px 20px;
  }
  /*Home seccion nuestros productos*/
  .contenedor-seccion-nuestros-productos .seccion-nuestros-productos .cards-productos {
    row-gap: 30px;
    /*padding-top: 50px;*/
  }
  .contenedor-seccion-nuestros-productos .seccion-nuestros-productos .nuestros-productos-encabezado {
    padding-bottom: 70px;
    padding-left: 8px;
    padding-right: 8px;
  }
  h2 {
    font-size: 25px;
  }
  /*HOME seccion oferta del mes------------------------------*/
  .contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes {
    margin-top: 40px;
    max-width: 100%;
  }
  .contenedor-seccion-oferta-del-mes .seccion-oferta-del-mes .seccion-oferta-del-mes-descripcion {
    max-width: 100%;
  }
  .cuenta-regresiva {
    flex-wrap: wrap;
    row-gap: 5px;
  }
  /*Seccion Footer-------------------------------------------*/
  .contenedor-seccion-footer .seccion-footer .seccion-info {
    padding: 80px 20px;
    row-gap: 20px;
  }
  .seccion-legal {
    padding: 20px 20px;
    row-gap: 20px;
    text-align: center;
    justify-content: center;
  }
  .contenedor-seccion-footer .seccion-footer .seccion-legal .footer-iconos {
    justify-content: center;
  }
  .footer-iconos ul {
    padding-left: 0px;
  }
  /*PAG Acerca de-------------------------------------------*/
  .fondo-banner-descuentos-contenedor {
    padding-left: 20px;
    padding-right: 20px;
  }
  .seccion-nuestro-equipo {
    padding-left: 8px;
    padding-right: 8px;
  }
  .testimonios {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tarjetas-trabajadores {
    row-gap: 20px;
  }
  /*PAG Shop-----------------------------------------------*/
  .productos-paginas ul {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
  .menu-productos-categorias ul {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
  }
  /*PAG Noticias-----------------------------------------------*/
  .noticias-tarjetas-contenedor {
    justify-content: center;
  }
  /*PAG Contactanos--------------------------------------------*/
  .contactanos-info {
    justify-items: start;
    padding: 45px 20px;
    background-color: #F5F5F5;
  }
  .contactanos-formulario-contenedor {
    padding: 0px 20px;
    margin-bottom: 40px;
  }
  .contenedor-seccion-contactanos {
    margin: 80px 0px;
  }
}
@media (max-width: 992px) {
  /*Barra de navegacion*/
  .seccion-navbar {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu-hamburguesa {
    display: block;
  }
  .menu-navegacion {
    display: none;
  }
  .menu-iconos {
    display: none;
  }
  /*Home seccion info envios*/
  .contenedor-seccion-info-envios {
    height: auto;
  }
  .seccion-info-envios {
    padding-right: 20px;
    padding-left: 20px;
  }
  .contenedor-tarjetas-info-envios {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .tarjetas-info-envios {
    padding: 0px;
  }
  /*Home seccion oferta del mes*/
  .cuenta-regresiva {
    flex-wrap: wrap;
    row-gap: 5px;
  }
  /*Seccion Footer-------------------------------------------*/
  .seccion-info {
    padding: 80px 20px;
    row-gap: 20px;
  }
  .seccion-legal {
    padding: 0px 20px;
  }
  .noticias-tarjetas-contenedor {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */